* {
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: rgb(221, 217, 217);
}
#color1 {
  color: rgb(19, 18, 18);
}
#color {
  color: rgb(26, 24, 24);
  font-weight: 800;
}
#color:hover {
  border-bottom: 2px solid rgb(123, 228, 18);
  transition: 0.2s;
}
.banner {
  background-image: url(./image/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 250px 0;

  h1,
  h4 {
    color: rgb(10, 10, 10);
  }
}
#js {
  width: 98px !important;
}
.skills-padding {
  padding: 70px 0;
}
#skile {
  background-color: rgb(192, 188, 183);
}
